@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.shimmer {
  width: 100%;
  height: 200px;
  background: #2c2c2c;
  background-image: linear-gradient(
    to right,
    #2c2c2c 0%,
    #3a3a3a 20%,
    #2c2c2c 40%,
    #2c2c2c 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 200px;
  display: inline-block;
  position: relative;
  animation: shimmer 1.5s infinite linear;
  border-radius: 0.5rem; /* Rounded corners */
}

.shimmer.dark {
  background: #2c2c2c;
  background-image: linear-gradient(
    to right,
    #2c2c2c 0%,
    #3a3a3a 20%,
    #2c2c2c 40%,
    #2c2c2c 100%
  );
}

@keyframes shimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

@layer base {
  html {
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
